<div class="modal fade" id="leaderboardModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Data Student</h5>
                <button
                    type="button"
                    class="close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="leaderboardModalContent">
                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- Material tab card start -->
                            <div class="card">
                                <div class="card-header">
                                    <h5>Daftar Siswa & Peringkat</h5>
                                    <span
                                        >Berikut adalah daftar semua siswa baik
                                        yang telah mengumpulkan tugas ini atau
                                        belum.</span
                                    >
                                </div>
                                <div class="card-block">
                                    <!-- Row start -->
                                    <div class="row m-b-30">
                                        <div class="col-lg-12">
                                            <div class="sub-title">
                                                Table Data
                                            </div>
                                            <!-- Nav tabs -->
                                            <ul
                                                class="nav nav-tabs md-tabs"
                                                role="tablist"
                                            >
                                                <li class="nav-item">
                                                    <a
                                                        class="nav-link active"
                                                        data-toggle="tab"
                                                        href="#daftar_siswa"
                                                        role="tab"
                                                        >Daftar Siswa</a
                                                    >
                                                    <div class="slide"></div>
                                                </li>
                                                <li class="nav-item">
                                                    <a
                                                        class="nav-link"
                                                        data-toggle="tab"
                                                        href="#revisi"
                                                        role="tab"
                                                        >Peringkat</a
                                                    >
                                                    <div class="slide"></div>
                                                </li>
                                            </ul>
                                            <!-- Tab panes -->
                                            <div class="tab-content card-block">
                                                <div
                                                    class="tab-pane active"
                                                    id="daftar_siswa"
                                                    role="tabpanel"
                                                >
                                                    <!-- konten table data siswa dalam kursus tersebut disini -->
                                                </div>
                                                <div
                                                    class="tab-pane"
                                                    id="peringkat"
                                                    role="tabpanel"
                                                >
                                                    <!-- konten table data peringkat(leaderboard siswa)disini -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Material tab card end -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                >
                    Tutup
                </button>
            </div>
        </div>
    </div>
</div>
